.wrapper {
    margin:5px;
}

/*3*/
h1 {
    text-align:center;
}

/*this sets the background color of the entire body*/
body {
    background-color:rgb(245, 215, 227);
    }

/*4*/
.background1 {
    background-color:rgb(178, 221, 236);
    }

/*5*/
.background2 {
    background-image:url("../4-assets/upfeathers.png");
}
/*7*/
table, th, td {
    border:1px solid rgb(15, 61, 17);
}